# Exclude test folders
test/**
src/**
src/test/**
coverage/**
.vscode/
.git/
.gitignore
.github/
*.map
*.ts
tsconfig.json
.vscodeignore
*.log
test-files/**
dist/test/**
*.properties
readme.md
.scannerwork
.nyc_output/**
coverage/**